// app global css in SCSS form
html {
  font-size: 15px;
  color: #27261e;
  line-height: 1.7;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
  font-feature-settings: "liga" on;
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.text-brand {
  color: #a2aa33 !important;
}
.bg-brand {
  background: #a2aa33 !important;
}

.boom-border {
  border-radius: 12px;
}
.menu-border {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
}

.tab-border {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  background-color: #f5f5f5;
}

.boom-button {
  //border-radius: 8px;
  margin-top: 12px;
  background: radial-gradient(
    171.19% 151.33% at -35.42% -28.71%,
    #f26ab2 28.65%,
    #b64fc6 77.69%,
    #a748cb 100%
  );
}

.boom-button-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: white;
}

.boom-card {
  background: #fafafa;
  border: 1px solid #e9d1f2;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 8px;
}

.rounded_input .q-field__control {
  border-radius: 12px !important;
}

.boom-bg {
  background: #fafafa;
}

.txn-header {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #27261e;
}

.txn-date {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #27261e;
}
.txn-detail {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.txn-value {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.menu-header {
  color: #27261e;
}

.fail-card {
  background: #fafafa;
  border: 1px solid #f5006a;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 8px;
}
