// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #f4e8f9;
$secondary: #e9d1f2;
$accent: #a748cb;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #f5006a;
$info: #31ccec;
$warning: #f2c037;
$boomwhite: #fafafa;
$bitcoin: #ff8a00;

$typography-font-family: "Inter", "Roboto", "-apple-system", "Helvetica Neue",
  Helvetica, Arial, sans-serif;
$typography-font-style: normal;
$typography-font-weight: normal;

$separator-color: #e9d1f2 !default;
$separator-dark-color: #e9d1f2 !default;
$menu-box-shadow: 2px 2px 0 0 rgba(192, 121, 186, 0.5);
